body {
  font-size: 12px;
  height: inherit;
  width: inherit;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: inherit;
  width: inherit;
}

.App {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  flex-wrap: wrap;
  width: inherit;
}
