body {
  font-size: 12px;
  height: inherit;
  overflow-x: hidden;
  width: inherit;
}

html {
  height: 100%;
  width: 100%;
}

#root {
  height: inherit;
  width: inherit;
}

#root > div {
  height: inherit;
  width: inherit;
}

.App {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  justify-content: center;
  width: inherit;
}

.nav-area {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
