.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 385px;
  max-width: 80%;
  min-height: 0;
}

.chat-error {
  font-size: 1rem;
  max-width: 28rem;
  padding: 2rem;
  text-align: center;
}

.chat-messages {
  background-color: #f7f7f7;
  margin-bottom: 1em;
  overflow-y: scroll;
}

.chat-input > textarea {
  height: 40px !important;
  width: 100% !important;
}

.clear {clear: both;}

.error-emoji {
  font-size: 3rem;
  padding: 1rem;
}

.error-heading {
    font-size: 3rem;
}
