@media only screen and (max-width: 1000px) {
  .chat {
    height: 100% !important;
  }

  .chat-send-button {
    border-left: 1px solid #dedede;
  }

  .chat-messages {
    margin-bottom: 0 !important;
    max-height: calc(100% - 3rem);
  }

  .chat-input {
    border-top: 1px solid #dedede;
  }

  .chat-input > textarea {
    border: none;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 385px;
  min-height: 0;
}

.chat-error {
  font-size: 1rem;
  max-width: 28rem;
  padding: 2rem;
  text-align: center;
}

.chat-input {
  display: flex;
  height: 3rem;
  min-height: 3rem;
}

.chat-input > textarea {
  flex: 1;
  height: 42px !important;
}

.chat-messages {
  background-color: #f7f7f7;
  flex: 1;
  margin-bottom: 1em;
  overflow-y: scroll;
}

.chat-send-button {
  background-color: #f7f7f7;
  height: inherit;
  vertical-align: middle;
  width: 3rem;
  line-height: 4rem;
  text-align: center;
}

.chat-send-button > i {
  color: #2196F3;
}

.chat-send-button.disabled > i {
  color: #c8c8c8;
}

.chat-send-button:hover {
  cursor: pointer;
  background-color: #e1f2ff;
  box-shadow: inset 0px 0px 0px 1px #85b3ff,
                    0px 0px 0px 0.5px #85b3ff;
}

.chat-send-button.disabled:hover {
  cursor: not-allowed;
  background-color: #f7f7f7;
  box-shadow: none;
}

.clear {
  clear: both;
}
