.stats-container {
  display: flex;
}

.stats-table {
  background-color: #e2e2e2;
  border: 1px solid #000;
  border-collapse: collapse;
  color: #424242;
  margin-top: 3em;
  text-align: left;
}

.stats-table td,
.stats-table th {
  padding: .75rem;
  border: 1px solid #fff;
}

.stats-table td > div {
  display: inline-block;
  vertical-align: middle;
}

.search-by-user {
  padding-left: 2em;
}
